<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/Dashboard.css">
    <link rel="stylesheet" href="/font/fontawesome-free-6.2.1-web/css/all.min.css">
</head>
<body>
    
    <div class="container">

        <!-------------------------------NAVIGATION-------------------------------->

        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <i class="fa-solid fa-shop"></i>
                        </span>
                        <div class="title">
                            <span class="title_1">US</span>
                            <span class="title_2">Canteen</span>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <i class="fa-sharp fa-solid fa-house"></i>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/orderAsk">
                        <span class="icon">
                            <i class="fa-sharp fa-solid fa-scroll"></i>
                        </span>
                        <span class="title">Orders</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/user">
                        <span class="icon">
                            <i class="fa-solid fa-users"></i>
                        </span>
                        <span class="title">Users</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/income">
                        <span class="icon">
                            <i class="fa-solid fa-hand-holding-dollar"></i>
                        </span>
                        <span class="title">Income</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/product">
                        <span class="icon">
                            <i class="fa-solid fa-box-archive"></i>
                        </span>
                        <span class="title">Products</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <i class="fa-solid fa-question"></i>
                        </span>
                        <span class="title">Help</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-------------------------------MAIN-------------------------------->

        <div class="main">

            <!------------TOP BAR------------>
            <div class="topbar">
                <div class="toggle">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div id="topbar-namePage">
                    Dashboard
                </div>

                <div class="topbar-right">
                    <div class="user">
                        <img src="/img/customer01.jpg" alt="">  
                    </div>
                    <div class="user-info">
                        <div id="user-name">{{HoTen}}</div>
                        <div id="user-role">Thu ngan</div>
                    </div>
                    <div class="log-out">
                        <a href="#">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        </a>
                    </div>
                    
                </div> 
            </div>

            <!------------CARDS------------>
            <div class="cardBox">
                <a class="card" href="/admin/khohang">
                    <div>
                        <div class="numbers">{{TonKho}}</div>
                        <div class="cardName">Products</div>
                    </div>

                    <div class="iconBx">
                        <i class="fa-solid fa-box-archive"></i>
                    </div>
                </a>

                <div class="card">
                    <div>
                        <div class="numbers">{{TongDonHang}}</div>
                        <div class="cardName">Orders</div>
                    </div>

                    <div class="iconBx">
                        <i class="fa-sharp fa-solid fa-scroll"></i>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">{{TongKhachHangThanhvien}}</div>
                        <div class="cardName">Users</div>
                    </div>

                    <div class="iconBx">
                        <i class="fa-solid fa-user-group"></i>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">{{TongDoanhThu}}</div>
                        <a href="/admin/Income" class="cardName">Earning</a>
                    </div>

                    <div class="iconBx">
                        <i class="fa-solid fa-money-bill"></i>
                    </div>
                </div>
            </div>

            <!-------------------Chart JS--------------------->
            <div class="chartsBox">
                <div class="chart">
                    <div>
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>

            <!-------------------Order List--------------------->
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Recent Orders</h2>
                        <a href="/admin/order" class="btn">View All</a>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <td>Customer Name</td>
                                <td>Price</td>
                                <td>Payment</td>
                                <td>Type Customer</td>
                            </tr>
                        </thead>

                        <tbody>
                            
                            {{#each recentOrder}}
                            <tr><td>{{this.TenKH}}</td>
                                <td>{{this.TongTien}}</td>
                                <td>{{this.TenHT}}</td>
                                <td>{{this.TenLoai}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>   
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="/js/Dashboard.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.0.1/chart.min.js" integrity="sha512-tQYZBKe34uzoeOjY9jr3MX7R/mo7n25vnqbnrkskGr4D6YOoPYSpyafUAzQVjV6xAozAqUFIEFsCO4z8mnVBXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>